<% if (title) { %>
    <h1><%= title %></h1>
  <% } %>
  
  <div class="body-container">
    <div class="content-container">
      <%- messages() %>
      <% if (typeof login !== 'undefined') { %>
        <%- login %>
      <% } else { %>
        <p>Error loading login form</p>
      <% } %>
    
    </div>
  </div>