<div class="body-container"> <!-- main-container-->
    <div class="hero-container">
        <div class="hero-title">
            Welcome to CSE Motors!
        </div>
        <div class="hero-content-wrapper">
            <div class="hero-cta-card">
                <div class="cta-title">
                    DMC Delorean
                </div>
                <div class="cta-text">
                    3 Cup hoders<br />
                    Superman doors<br />
                    Fuzzy dice!
                </div>
                <button class="cta-btn">Own Today</button>
            </div>
        </div>
    </div>

    <div class="content-container">
        <div class="content-wrapper">
            <div class="content-title">
                Delorean Upgrades
            </div>
            <div class="content-boxes-wrapper">
                <div class="content-box">
                    <div class="content-box-img-container">
                        <img src="../images/upgrades/flux-cap.png" alt="Flux capacitor"> 
                    </div>
                    <div class="content-box-link">
                        <a href="url">Flux Capacitor</a>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-box-img-container">
                        <img src="../images/upgrades/flame.jpg" alt="Flame Decals"> 
                    </div>
                    <div class="content-box-link">
                        <a href="url">Flame Decals</a>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-box-img-container">
                        <img src="../images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers"> 
                    </div>
                    <div class="content-box-link">
                        <a href="url">Bumper Stickers</a>
                    </div>
                </div>
                <div class="content-box">
                    <div class="content-box-img-container">
                        <img src="../images/upgrades/hub-cap.jpg" alt="Hub Caps"> 
                    </div>
                    <div class="content-box-link">
                        <a href="url">Hub Caps</a>
                    </div>
                </div>
            </div>

        </div>
        <div class="content-wrapper">
            <div class="content-title">
                DMC Delorean Reviews
            </div>
            <div class="content-list">
                <ul>
                    <li>"So fast it's almost like travelling intime." (4/5)</li>
                    <li>"Coolest ride on the road." (4/5)</li>
                    <li>"I'm feeling McFly!" (5/5)</li>
                    <li>"The most futuristic ride of our day." (4.5/5)</li>
                    <li>"80's livin and I love it!" (5/5)</li>
                </ul>
            </div>
        </div>
    </div>

</div>