<div class="body-container">

<!-- A content heading -->

<% if (title) { %>
<h1><%= title %></h1>
<% } else {
    res.redirect('/')
} %>


<!-- Message -->
<%# messages() %>

<!-- Inventory items display. -->  

    <!-- Inventory items display wrapped in content container -->
    <div class="content-container">

        <div class="grid-wrapper">
            <%- grid %>
        </div>

    </div>

</div>